{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <h1>Rules</h1>
    <br/>
    <p>There are several aspects to the game:</p>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Predict the Score in all the Group Matches</li>
      <li class="list-group-item">Pick the 8 Teams you think will make the Quarter Finals</li>
      <li class="list-group-item">Pick the 4 Teams you think will make the Semi Finals</li>
      <li class="list-group-item">Pick the 2 Teams you think will be in the Final</li>
      <li class="list-group-item">Pick the Team you think will win Euro 2024</li>
      <li class="list-group-item">And finally, pick you Wildcard Team to earn extra Points</li>
    </ol>
{% endblock %}