{% extends 'base.html' %}

{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<h1>Wildcard Groups</h1>
<br/>
<p>Picking a Wildcard Team is optional. But, if you choose wisely it could boost your Points substantially.</p>
<p>Once the Tournament has started you will be able to change you Wildcard Team twice at any time.</p>
<p>Changes to the Wildcard Team will only take effect from the following day.</p>

{% for group in wildcard_group_details %}
  {% if loop.index is even %}
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ group.wildcard_group_name }}</h5>
          <p>Teams in this Group will score <strong>{{ group.points_bonus }} Points</strong> for each goal scored and lose <strong>{{ group.points_penalty }} Points</strong> for each goal conceded</p>
          <ul class="list-group">
            {% for c in group.countries %}
              {% if loop.index is even %}
                <li class="list-group-item">{{ c.country_name }}</li>
              {% else %}
                <li class="list-group-item list-group-item-secondary">{{ c.country_name }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br/>
{% else %}
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ group.wildcard_group_name }}</h5>
          <p>Teams in this Group will score <strong>{{ group.points_bonus }} Points</strong> for each goal scored and lose <strong>{{ group.points_penalty }} Points</strong> for each goal conceded</p>
          <ul class="list-group">
            {% for c in group.countries %}
              {% if loop.index is even %}
                <li class="list-group-item">{{ c.country_name }}</li>
              {% else %}
                <li class="list-group-item list-group-item-secondary">{{ c.country_name }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endif %}

{% endfor %}

{% endblock %}